*{
            margin: 0;
            padding:0;
            font-family:poppins,Arial, Helvetica, sans-serif;
            box-sizing: border-box;
        }

        body{
            display: flex;
            min-height:10vh;
            justify-content: center;
            align-items: center;
            /* background-color: #f5f5f5; */
            background-color: #1c1f2bea;
          
        }

        .timit-logo{
            position: absolute;
            top:30px;
            
             /* box-shadow: 5px 10px; */
             /* background-color: red; */
        }

            .timit-logo img:hover {
             transform: scale(1.01); /* تأثير تكبير عند مرور الماوس */
        }






        form{
            /* background-color: #fff; */
            background-color: #1c1f2b;

            padding:20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            width:400px;
           margin-top:220px;


           /* ---------------border---------------- */

            position:relative;

            
            
        }

        @property --angle{
            syntax:"<angle>";
                initial-value: 0deg;
                inherits: false;

        }

        form::after , form::before{
           /* ---------------border---------------- */
           
            content:"";
            position:absolute;
            height:100%;
            width:100%;
            background:conic-gradient(from var(--angle),transparent 70%,#ff4545,#00ff99,#006aff,#ff0095) ;
            top:50%;
            left:50%;
            translate:-50% -50%;
            z-index: -1;
            padding:5.5px;
            border-radius:10px;
            animation:3s spin linear infinite;
           
        }
        @keyframes spin{
            from{
                --angle:0deg;
            }

            to{
                --angle:360deg;
                
            }
        }

        form::before{
            filter:blur(1.5rem);
            opacity:0.5;
        }

        .inputs div{
            position: relative;
            margin-bottom: 20px;
        }

        .inputs input{
            width:100%;
            padding:10px;
            border:2px solid #ccc;
            background-color: #1c1f2b;
            border-radius: 5px;;
            font-size:1em;
            pointer-events: auto;
            color:white;



        }
        .inputs label{
            position: absolute;
            top:30%;
            left: 17px;
            transition: 0.3s;
            color:white;
            


        }

        .inputs input:focus + label,
        .inputs input:valid + label

        {
       
            top:-10px;
            left:10px;
            font-size:.9em;
            /* background-color: #fff; */
            /* color:#333; */

            background-color: #1c1f2b;
            /* color:rgb(0, 0, 255); */



        }

         .sign-in{
            color:red;
            margin: 8px;
            padding: 10px;


        } 


 


      
        .gender{
            color:#ff0095;
			margin:10
        
         
        }


.male label {
    float: left;
    position: relative;
    top: 0px;
    left: 69px;
}


.male input  {
    float: left;
    position: relative;
    left:84px;
    top: 2px;
	width:13px;
	
}



.female label {
   position: relative;
    float: left ;
  	left:141px;
    top: 0px;
}

.female input  {
   position: relative;
    top: 0px;
    left: 158px;
    width: 13px;
   
}






   
/* From Uiverse.io by zanina-yassine */ 
.button {
  min-width: 120px;

  position: relative;
  cursor: pointer;

  padding: 12px 17px;
  border: 0;
  border-radius: 7px;

  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgba(71, 81, 92, 1) 0%,
    rgba(11, 21, 30, 1) 45%
  );

  color: rgb(255, 255, 255, 0.66);

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.1) translateY(-3px);
}

.button:hover::before {
  opacity: 1;
}


